.background {
    position: absolute;
    display: block;
    z-index: 0;
}

.wellcome-seccion{
    padding: 10px;
    background-position: center;
    background:rgba(8, 11, 65, 0.6);
    width: 100%;
    height: 30vh; 
    background:rgba(73, 6, 6, 0.6);
}

.wall-background{
    min-height: 65vh;
    width: 100%;
    background-position: center;
    background:rgba(8, 11, 65, 0.6);
    background-image: url('https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.wall-container {
    height: 30vh;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall-sub-container {
    text-align: center;
    width: 100%;
}

.descript-text {
    background-color: rgba(0, 0, 0, 0.603);
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    border-bottom: solid 2px blanchedalmond;
}

.wall-sub-container h1 {
    border-bottom: solid #ccc 2px;
}

.my-card {
    width: 250px;
}

.custom-img {
    /* width: 250px; */
    height: 250px;
    padding: 5px;
}

.skills {
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(56, 4, 70, 0.6);
  z-index:-1;
}

.proyects {
    background:rgba(2, 24, 97, 0.6);
    min-height: 100vh;
}

.about-me {
    background:rgba(2, 94, 97, 0.6);
    min-height: 100vh;
}

.contact {
    background:rgba(59, 2, 97, 0.6);
    min-height: 100vh;
}

.seccion-title {
    background:rgba(0, 0, 0, 0.6);
    padding: 30px 0px;
}

.container-ico-descrip {
    margin-top: 20%;
}

.face-ico {
    color: rgb(255, 255, 255);
}

.face-ico:hover {
    color: rgb(251, 255, 0);
    transition: ease 0.5s;
}

.custom-ico {
    font-size: 10rem;
}

.contact-container {
    margin-top: 10%;
}

.contac-link {
    text-decoration: none;
    text-align: center;
    color: blueviolet;
}

.contac-link:hover{
    transition: ease 0.5s;
    color: rgb(59, 7, 107);
} 

.container-about{
    margin-top: 5%;
}

.title-about {
    padding: 5px 0px;
    /* border-bottom: solid 5px rgb(0, 0, 0); */
}

.descript-about {
    text-align: justify;
    border-left: solid 4px rgba(0, 0, 0, 0.705);
    padding-left: 10px;
}

.content-dev-img {
    /* float: left;
    margin-right: 15px;
    width: 50%; */
    float: left;
    width: 300px;
    height: 60vh;
    background: #CCC;
    overflow: hidden;
}

.img-dev {
    /* width: 100%; */
    width: 100%;
    height: auto;
    filter: blur(1.5px);
}

@supports(object-fit: cover){
    .content-dev-img img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

@media only screen and (max-width: 767px) {
    .content-dev-img {
        display: none;
        transition: ease-out 0.5s;
    }
}

.demo {
    color: white;
    position: absolute;
    width: 0px;
    margin: 0px 10px;
    top: 100px;
    /* left: 0; */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* margin: auto; */
    /* width: 300px; */
    /* height: 100px; */
}

.demo a {
    text-decoration: none;
}