@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Roboto:wght@300&display=swap');

html, body {
    background:
    linear-gradient(135deg, transparent 21px, #ffffff 22px, transparent 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, transparent 21px, #ffffff 22px, transparent 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#303336;
    background-size: 64px 128px;
}

.link-active {
    color: white;
    background-color: blue;
}

a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}